<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ATFCM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Server.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ATFCM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><div class="en">About</div><div class="sv">Om oss</div><div class="de">Über</div></a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Chart" asp-action="Index"><div class="en">About</div><div class="sv">Om oss</div><div class="de">Über</div></a>
                        </li>
                        @if(User.Identity.IsAuthenticated){
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                        </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @if(User.Identity.IsAuthenticated){
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authenticate" asp-action="Logout"><div class="en">Log out</div><div class="sv">Logga ut</div><div class="de">Ausloggen</div></a>
                        </li>
                        }
                        else{
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authenticate" asp-action="Index"><div class="en">Sign in</div><div class="sv">Logga in</div><div class="de">Einloggen</div></a>
                        </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><div class="en">| &nbsp&nbspPrivacy Policy</div><div class="sv">| &nbsp&nbspIntegritetspolicy</div><div class="de">| &nbsp&nbspDatenschutzvereinbarung</div></a>
                        </li>
                        <li class="nav-item">
                            <label for="lang">| &nbsp&nbspLanguage - </label>
                            <select id="lang" style="margin-top: 8px;" onchange="changeLang()">
                                <option selected>English</option>
                                <option>Svenska</option>
                                <option>Deutsch</option>
                            </select>
                        </li>
                    </ul>
                </div>
                </u>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    
        <div class="container">
            <div class="container">
                &copy; 2022 - SIMS #9
            </div> 
        </div>

    </footer>


    @* **************scripts*********** *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    @* **************charts*********** *@
    <script src="~/js/lineChart.js" asp-append-version="true"></script>
    <script src="~/js/steppedLineChart.js" asp-append-version="true"></script>
    <script src="~/js/doughnutChart.js" asp-append-version="true"></script>
    <script src="~/js/areaChart.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        var langCookie = getCookie("lang");
        if(langCookie != ""){
            document.getElementById("lang").value = langCookie;
        }
        changeLang();
        function changeLang(){
            document.cookie = "lang=".concat(document.getElementById("lang").value,";path=/"); 
            if(document.getElementById("lang").value == "English"){
                for(e of document.getElementsByClassName("en")){
                    e.style.display = "block"
                }
            }
            else{
                for(e of document.getElementsByClassName("en")){
                    e.style.display = "none"
                }
            }
            if(document.getElementById("lang").value == "Svenska"){
                for(e of document.getElementsByClassName("sv")){
                    e.style.display = "block"
                }
            }
            else{
                for(e of document.getElementsByClassName("sv")){
                    e.style.display = "none"
                }
            }
            if(document.getElementById("lang").value == "Deutsch"){
                for(e of document.getElementsByClassName("de")){
                    e.style.display = "block"
                }
            }
            else{
                for(e of document.getElementsByClassName("de")){
                    e.style.display = "none"
                }
            }
        }

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
    </script>
</body>
</html>
