@{
    ViewData["Title"] = "Login";
}

<form method="POST" action="/Authenticate/Login">
  <!-- Username input -->
  <div class="form-outline mb-4">
    <input type="text" name="Username" id="Username" class="form-control" />
    <label class="form-label" for="Username">Username</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" name="Password" id="Password" class="form-control" />
    <label class="form-label" for="Password">Password</label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block">Sign in</button>
</form>