@{
    ViewData["Title"] = "Login";
}

<form method="POST" action="/Authenticate/Login">
    <input type="text" name="Username">
    <input type="password" name="Password">
    <input type="submit" value="Submit">
</form>