@{
    ViewData["Title"] = "Home";
}

    <h1>@ViewData["Title"] - Example Company</h1>



  @* want to order the cards in two rows *@
    @* This card will lead to the Visualisation/Charts/Diagramms *@
    <form style="float: left;" id="machine" method="GET" action="/Machine">
      <!-- Card -->
      <div class="card" onclick="document.getElementById('machine').submit()">
        <!-- Card image -->
        @* <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.webp" alt="Card image cap"> *@
        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title"><a><div class="en">Machines</div><div class="sv">Maskiner</div><div class="de">Maschinen</div></a></h4>
          <!-- Text -->
          <p class="card-text">
            <div class="en">View all of the machines in the system.</div>
            <div class="sv">Se alla maskiner i systemet.</div>
            <div class="de">Zeigt alle Maschinen im System an.</div>
          </p>
          @* <a href="#" class="btn btn-primary">Button</a> *@
        </div>
      </div>
      <!-- Card -->
    </form>
    @* This card will lead you to the Instalation Sides (not implemented yet) *@
    <form style="float: left;" id="install" method="GET" action="/Installation">
      <!-- Card -->
      <div class="card" onclick="document.getElementById('install').submit()">
        <!-- Card image -->
        @* <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.webp" alt="Card image cap"> *@
        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title"><a>Installation</a></h4>
          <!-- Text -->
          <p class="card-text">
            <div class="en">Install and manage a Sensor-System of a machine.</div>
            <div class="sv">Installera och hantera ett sensorsystem för en maskin.</div>
            <div class="de">Installiere und verwalte das Sensor-System einer Maschine.</div>
          </p>
          @* <a href="#" class="btn btn-primary">Button</a> *@
        </div>
      </div>
      <!-- Card -->
    </form>
    @* This card will lead you to the Support Sides (not implemented yet) *@
    <form style="float: left;" id="showdata" method="GET" action="/Home/ShowChart">
      <!-- Card -->
      <div class="card" onclick="document.getElementById('showdata').submit()">
        <!-- Card image -->
        @* <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.webp" alt="Card image cap"> *@
        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title"><a><div class="en">Visualisation</div><div class="sv">Visualisering</div><div class="de">Visualisierung</div></a></h4>
          <!-- Text -->
          <p class="card-text">
            <div class="en">Visualise the data produced by the Sensor-Systems on the Machines.</div>
            <div class="de">Stellt die gesammelten Daten des Sensor-Systems grafisch dar.</div>
            <div class="sv">Visualisera data som produceras av Sensor-Systems på Maskinerna.</div>
          </p>
          @* <a href="#" class="btn btn-primary">Button</a> *@
        </div>
      </div>
      <!-- Card -->
    </form>


