@{
    ViewData["Title"] = "Startpage";
}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>






<!-- Masthead-->
<section class="call-to-action text-white text-center">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5 en">activity tracker for heavy duty machines</h1>
                    <h1 class="mb-5 de">Activity Tracker für heavy duty Maschinen</h1>
                    <h1 class="mb-5 sv">aktivitetsmätare för tunga maskiner</h1>
                </div>
            </div>
        </div>
    </div>
</section>





@* Modal for the Create a Sensor *@
@* TODO close dont work *@
<form method="POST" action="/Installation/Create">
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title " id="exampleModalLabel">New Activity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <!-- Machinename input -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-9">
                                 <input type="text" name="Sensorname" id="Sensorname" class="form-control" />
                                <label class="form-label" for="Sensorname">
                                    <div class="en">Sensorname</div>
                                    <div class="de">Sensorname</div>
                                    <div class="sv">Sensorname</div>
                                </label>

                                <div class="row">
                                    <div class="col-8 col-sm-6 align-self-center">
                                        <input class="form-check-input" type="checkbox" value="" name="Master" id="Master"> 
                                        <label class="form-label" for="Master">
                                            <div class="en">Master</div>
                                            <div class="de">Master</div>
                                            <div class="sv">Master</div>
                                        </label>
                                    </div>
                                    <div class="col-8 col-sm-6">
                                        <input type="text" name="SensorID" id="SensorID" class="form-control" />
                                        <label class="form-label" for="SensorID">
                                            <div class="en">SensorID</div>
                                            <div class="de">SensorID</div>
                                            <div class="sv">SensorID</div>
                                        </label>
                                    </div>
                                    <div class="col-4 col-sm-6">
                                        <input type="text" name="Sensortyp" id="Sensortyp" class="form-control" />
                                        <label class="form-label" for="Sensortyp">
                                            <div class="en">Sensortyp</div>
                                            <div class="de">Sensortyp</div>
                                            <div class="sv">Sensortyp</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">
                        <div class="en">Create</div>
                        <div class="de">Erstellen</div>
                        <div class="sv">Create</div>
                    </button>
                    <a id="closemodal" href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <div class="en">Close</div>
                        <div class="de">Schließen</div>
                        <div class="sv">Closa</div>
                    </button>
                </div> 
            </div>
        </div>
    </div>
</form>




@* Modal for the Create a Activity *@
@* TODO close dont work *@
<form method="POST" action="/Installation/Create">
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title " id="exampleModalLabel">New Activity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <!-- Machinename input -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-9">
                                 <input type="text" name="Activityname" id="Activityname" class="form-control" />
                                <label class="form-label" for="Activityname">
                                    <div class="en">Activityname</div>
                                    <div class="de">Activitätssname</div>
                                    <div class="sv">Användarnamn</div>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                 <input type="text" name="Activitycolour" id="Activitycolour" class="form-control" />
                                <label class="form-label" for="Activitycolour">
                                    <div class="en">Colour</div>
                                    <div class="de">Farbe</div>
                                    <div class="sv">Användarnamn</div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">
                        <div class="en">Create</div>
                        <div class="de">Erstellen</div>
                        <div class="sv">Create</div>
                    </button>
                    <a id="closemodal" href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <div class="en">Close</div>
                        <div class="de">Schließen</div>
                        <div class="sv">Closa</div>
                    </button>
                </div> 
            </div>
        </div>
    </div>
</form>



<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-tree-fill m-auto text-primary"></i></div>
                    <h3 class="en">Reduce Emissions</h3>
                    <h3 class="de">Reduziere Emissions</h3>
                    <h3 class="sv">Minska utsläppen</h3>
                    <p class="lead mb-0 en">Companies are able to get compensation from the goverment for their environment impact.</p>
                    <p class="lead mb-0 de">Unternehmen können von der Regierung eine Entschädigung für ihre Umweltauswirkungen erhalten.</p>
                    <p class="lead mb-0 sv">Företag kan få ersättning från staten för sin miljöpåverkan.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-bar-chart-line m-auto text-primary"></i></div>
                    <h3 class="en">optimise processes</h3>
                    <h3 class="de">optimiere Prozesse</h3>
                    <h3 class="sv">optimera processerna</h3>
                    <p class="lead mb-0 en">Optimise processes through monitoring and data analysis.</p>
                    <p class="lead mb-0 de">Optimieren der Prozesse durch Monitoring und Datenanalysen.</p>
                    <p class="lead mb-0 sv">Optimera processerna genom övervakning och dataanalys.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-collection m-auto text-primary"></i></div>
                    <h3 class="en">scalable</h3>
                    <h3 class="de">Skalierbar</h3>
                    <h3 class="sv">skalbar</h3>
                    <p class="lead mb-0 en">The system can be used universally and is scalable..</p>
                    <p class="lead mb-0 de">Das System kann universell eingesetzt werden und ist skalierbar.</p>
                    <p class="lead mb-0 sv">Systemet kan användas universellt och är skalbart.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('images/bg-showcase-1.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2 class="en">Companies</h2>
                <h2 class="de">Unternehmen</h2>
                <h2 class="sv">företag</h2>
                <p class="lead mb-0 en">Companies are able to get compensation from the goverment for their environment impact.</p>
                <p class="lead mb-0 de">Unternehmen können von der Regierung eine Entschädigung für ihre Umweltauswirkungen erhalten.</p>
                <p class="lead mb-0 sv">Företag kan få ersättning från staten för sin miljöpåverkan.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('images/bg-showcase-2.jpg')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2 class="en">Co2 Savings</h2>
                <h2 class="de">Co2-Einsparungen</h2>
                <h2 class="sv">Co2-besparingar</h2>
                <p class="lead mb-0 en">Six percent of global Co2 emissons comes from construction machines. Our product will help to reduce those emissons.</p>
                <p class="lead mb-0 de">Sechs Prozent der weltweiten Co2-Emissionen stammen von Baumaschinen. Unser Produkt wird dazu beitragen, diese Emissionen zu reduzieren.</p>
                <p class="lead mb-0 sv">Sex procent av de globala CO2-utsläppen kommer från entreprenadmaskiner. Vår produkt hjälper till att minska dessa utsläpp.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('images/bg-showcase-3.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2 class="en">Activities</h2>
                <h2 class="de">Aktivitäten</h2>
                <h2 class="sv">Aktiviteter</h2>
                <p class="lead mb-0 en">Activities, such as driving, hard digging, soft digging and so on, can be tracked. This will help us understand emissions but can also be helpful for maintenance of the machines.</p>
                <p class="lead mb-0 de">Aktivitäten wie Fahren, hartes Graben, weiches Graben usw. können verfolgt werden. Dies hilft uns beim Verständnis der Emissionen, kann aber auch bei der Wartung der Maschinen hilfreich sein.</p>
                <p class="lead mb-0 sv">Aktiviteter som körning, hårdgrävning, mjukgrävning och så vidare kan spåras. Detta hjälper oss att förstå utsläppen men kan också vara till hjälp för underhåll av maskinerna.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('images/bg-showcase-2.jpg')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2></h2>
                <h2 class="en">Machines</h2>
                <h2 class="de">Maschinen</h2>
                <h2 class="sv">Maskiner</h2>
                <p class="lead mb-0 en">Multiple types of machines are supported. Those are Excavators, Wheel Loaders, Cranes, Dumpers and many more.</p>
                <p class="lead mb-0 de">Mehrere Arten von Maschinen werden unterstützt. Das sind Bagger, Radlader, Kräne, Dumper und viele mehr.</p>
                <p class="lead mb-0 sv">Flera typer av maskiner stöds. Det är grävmaskiner, hjullastare, kranar, dumpers och många fler.</p>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials-->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5 en">the founders</h2>
        <h2 class="mb-5 de">Die Gründer</h2>
        <h2 class="mb-5 sv">grundarna</h2>
        <div class="row">
            <div class="col-lg-auto">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/testimonials-1.jpg" alt="..." />
                    <h5>Bernd E.</h5>
                    <p class="font-weight-light mb-0">Testleader</p>
                </div>
            </div>
            <div class="col-lg-auto">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/testimonials-2.jpg" alt="..." />
                    <h5>Leander S.</h5>
                    <p class="font-weight-light mb-0">Frontend designer</p>
                </div>
            </div>
            <div class="col-lg-auto">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/testimonials-3.jpg" alt="..." />
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">Hardware designer</p>
                </div>
            </div>
                <div class="col-lg-auto">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/founder-4.jpg" alt="..." />
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">Hardware designer</p>
                </div>
            </div>
                <div class="col-lg-auto">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/founder-5.jpg" alt="..." />
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">Hardware designer</p>
                </div>
            </div>
                <div class="col-lg-auto">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/founder-6.jpg" alt="..." />
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">Hardware designer</p>
                </div>
            </div>
                <div class="col-lg-auto">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/founder-7.jpg" alt="..." />
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">Hardware designer</p>
                </div>
            </div>
                <div class="col-lg-auto">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/founder-8.jpg" alt="..." />
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">Hardware designer</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 h-100 text-center text-lg-center my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a class="en" href="#!">Contact</a>        
                        <a class="de" href="#!">Kontakt</a>        
                        <a class="sv" href="#!">Kontakta</a>        
                    </li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item">
                        <a class="en" href="#!">| &nbsp&nbspPrivacy Policy</a>
                        <a class="sv" href="#!">| &nbsp&nbspIntegritetspolicy</a>
                        <a class="de" href="#!">| &nbsp&nbspDatenschutzvereinbarung</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; ATFCM 2022. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>