.card_with_left_discription{
  border: black;
  background-color: lightgray;
  border-radius: 10px;          /*Slightly Curve edges*/
  overflow: hidden;             /*Fixes the corners */
  float: left;
  margin: 10px;
}

.card {
  width: 30%;
  height: fit-content;
  display: flex;
  background-color: #3dc370; 
  width: 300px;                 /*Set width of cards*/ 
  height: 100px; 
  display: flex;                /*Children use Flexbox*/
  flex-direction: column;       /*Rotate Axis*/
  border-radius: 10px;           /*Slightly Curve edges*/
  overflow: hidden;             /*Fixes the corners */
}

.discription{
  width: 300px;
  float: right;
  height: fit-content;
}

.card-main {
  display: flex;              /* Children use Flexbox */
  flex-direction: column;     /* Rotate Axis to Vertical */
  justify-content: center;    /* Group Children in Center */
  align-items: center;        /* Group Children in Center (on cross axis) */
  padding: 15px;            /* Add padding to the top/bottom */
}

.card-title {
  font-size: 36px;            /*Text size of the Title*/
  color: #000000;             /*Text colour of the Title*/
  margin-bottom: 5px;         /*distance from the text to the bottom of the card*/
}

.main-description {
  color: #000000;             /*Colour of the Text */
  font-size: 16px;              /*size of the Text*/
  text-align: left;           /*orientation in the Card*/
  width: 290px;
  margin: 5px;
}

