@{
    ViewData["Title"] = "Startpage";
}

    <h1>Activity Tracker For Construction Machines</h1>


  @*begin of the Body*@
  <div class="card_with_left_discription">
    @* this is the card on the left side  *@
    <div class="card" >
      <div class="card-main">
        <i class="card-title">Companies</i>
      </div>
    </div>

    @* this is the description on the right side *@
    <div class="discription">
      <div >
        <div class="main-description">Companies are able to get compensation from the goverment for their environment impact.</div>
      </div>
    </div>
  </div>

  @*begin of the Body*@
  <div class="card_with_left_discription">
    @* this is the card on the left side  *@
    <div class="card" >
      <div class="card-main">
        <i class="card-title">Co2 Savings</i>
      </div>
    </div>

    @* this is the description on the right side *@
    <div class="discription">
      <div >
        <div class="main-description">Six percent of global Co2 emissons comes from construction machines. Our product will help to reduce those emissons.</div>
      </div>
    </div>
  </div>

  @*begin of the Body*@
  <div class="card_with_left_discription">
    @* this is the card on the left side  *@
    <div class="card" >
      <div class="card-main">
        <i class="card-title">Activities</i>
      </div>
    </div>

    @* this is the description on the right side *@
    <div class="discription">
      <div >
        <div class="main-description">Activities, such as driving, hard digging, soft digging and so on, can be tracked. This will help us understand emissions but can also be helpful for maintenance of the machines.</div>
      </div>
    </div>
  </div>

  @*begin of the Body*@
  <div class="card_with_left_discription">
    @* this is the card on the left side  *@
    <div class="card" >
      <div class="card-main">
        <i class="card-title">Machines</i>
      </div>
    </div>

    @* this is the description on the right side *@
    <div class="discription">
      <div >
        <div class="main-description">Multiple types of machines are supported. Those are Excavators, Wheel Loaders, Cranes, Dumpers and many more.</div>
      </div>
    </div>
  </div>




  @* <div class=".container-vertical">
    <div class="left-wrapper">
        <div class="card">
          <div class="card-main">
            <i class="card-title">The Company</i>
            <div class="main-description">discription about company</div>
          </div>
        </div>
        <div class="right-wrapper">
          <div class="card">
            <div class="main-description">discription about company</div>
          </div>
        </div>
    </div>
  </div> *@

  @* <div class="card">
    <div class="card-main">
      <i class="card-title">device</i>
      <div class="main-description">description about Sensordevice</div>
    </div>
  </div> *@


  @* TODO Will be implementet soon *@

    @*<div class="div-14">
      <div class="div-15">
        <div class="builder-columns div-16">
          <div class="builder-column column-8">
            <div class="div-17">
              <div class="builder-columns div-18">
                <div class="builder-column column-9">
                  <div class="div-19">Machines</div>
                </div>
              </div>
            </div>
          </div>
          <div class="builder-column column-10">
            <div class="lorem-ipsum-dolor-sit-amet-co">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
              et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
              sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
              accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
              no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
          </div>
        </div>
      </div>
      <div class="div-20">
        <div class="builder-columns div-21">
          <div class="builder-column column-11">
            <div class="lorem-ipsum-dolor-sit-amet-co">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
              et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
              sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
              accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
              no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
          </div>
          <div class="builder-column column-12">
            <div class="div-22">
              <div class="builder-columns div-23">
                <div class="builder-column column-13">
                  <div class="div-24">Machines</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-25">
      <div class="div-26">
        <div class="builder-columns div-27">
          <div class="builder-column column-14">
            <div class="div-28">
              <div class="builder-columns div-29">
                <div class="builder-column column-15">
                  <div class="div-30">Machines</div>
                </div>
              </div>
            </div>
          </div>
          <div class="builder-column column-16">
            <div class="lorem-ipsum-dolor-sit-amet-co">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
              et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
              sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
              accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
              no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
          </div>
        </div>
      </div>
      <div class="div-31">
        <div class="builder-columns div-32">
          <div class="builder-column column-17">
            <div class="lorem-ipsum-dolor-sit-amet-co">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
              et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
              sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
              accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
              no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
          </div>
          <div class="builder-column column-18">
            <div class="div-33">
              <div class="builder-columns div-34">
                <div class="builder-column column-19">
                  <div class="div-35">Machines</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> *@
