@{
    ViewData["Title"] = "Startpage";
}

@* INTRO SECTION *@
<section class="intro-section">
    <div class="container intro">
        <div class="intro-text">
            <h1 class="u-mb-small">More than just 
                <span>shorter links</span></h1>
            <p class="u-mb-medium">
                Build your brands
                  recognition and get on how your links are performing
            </p>
            <a href="#" class="btn btn-large">get started</a>
        </div>

        <div class="intro-image">
            <img src="./images/illustration-working.svg" alt="">
        </div>
    </div>
</section>

@* INput, about and feature section *@
<section class="input-section">
    <div class="container">
        <div class="input-box u-mb-large">
            <form action="">
                <input type="text" placeholder="Shorten a link here..">
                <button class="link-btn">
                    Shorten it!
                </button>
            </form>
        </div>

        <div class="about">
            <h2 class="u-mb-small">
                advanced statistic
            </h2>
            <p class="u-mb-medium">
                track how you links are performing across 
                the web with out advance statisti dachboaer
            </p>
        </div>

        <div class="feature-section">
            <div class="feature">

                <div class="feature-box box1">
                    <div class="feature-image">
                        <img src="./images/icon-brand-recognition.svg" alt="">
                    </div>
                    <h3>brand recognotion</h3>
                    <p>boost yout brand recognischin witch 
                        eacht clich generic linksalskdjfladlasdasdfasdfas
                        asdfasd asdfasdf asdfasdf 
                    </p>
                </div>

                <div class="feature-box box2">
                    <div class="feature-image">
                        <img src="./images/icon-brand-recognition.svg" alt="">
                    </div>
                    <h3>brand recognotion</h3>
                    <p>boost yout brand recognischin witch 
                        eacht clich generic linksalskdjfladlasdasdfasdfas
                        asdfasd asdfasdf asdfasdf 
                    </p>
                </div>

                <div class="feature-box box3">
                    <div class="feature-image">
                        <img src="./images/icon-brand-recognition.svg" alt="">
                    </div>
                    <h3>brand recognotion</h3>
                    <p>boost yout brand recognischin witch 
                        eacht clich generic linksalskdjfladlasdasdfasdfas
                        asdfasd asdfasdf asdfasdf 
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>

