.card_with_left_discription{
  border: black;
  background-color: lightgray;
  border-radius: 10px;          /*Slightly Curve edges*/
  overflow: hidden;             /*Fixes the corners */
  float: left;
  margin: 10px;
}

.card {
  /* width: 30%; */
  height: fit-content;
  display: flex;
  /* background-color: #3dc370;  */
  /* display: flex;               
  flex-direction: column;       
  border-radius: 10px;         
  overflow: hidden;             */
}

.discription{
  width: 300px;
  float: right;
  height: fit-content;
}

.card-main {
  display: flex;              /* Children use Flexbox */
  flex-direction: column;     /* Rotate Axis to Vertical */
  justify-content: center;    /* Group Children in Center */
  align-items: center;        /* Group Children in Center (on cross axis) */
  padding: 15px;            /* Add padding to the top/bottom */
}

.card-title {
  font-size: 36px;            /*Text size of the Title*/
  color: #000000;             /*Text colour of the Title*/
  margin-bottom: 5px;         /*distance from the text to the bottom of the card*/
}

.main-description {
  color: #000000;             /*Colour of the Text */
  font-size: 16px;              /*size of the Text*/
  text-align: left;           /*orientation in the Card*/
  width: 290px;
  margin: 5px;
}

/* features */
.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  fill: currentcolor;
  transition: transform .25s ease-in-out;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}



/* features style */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}







/* lakjsdölfkjasödlfkjaösldkfjalds */




/* Header Section */

header {
  width: 100%;
  height: 7.5rem;
  padding: 2.5rem 0;
  background-color: var(--dark-violet);
  position: relative;
}

.logo {
  height: 3.5rem;
  margin-right: 3rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul {
  display: flex;
  flex-grow: 1;
}

.nav-ul li {
  list-style: none;
  padding: 0 .5rem;
}

.nav-ul li a,
.login a:first-child {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--white);
}

.login a:first-child {
  margin-right: 1.5rem;
}

.nav-ul li a:hover,
.login a:hover:first-child {
  color: var(--cyan);
}

.u-login {
  display: none;
}

.btn {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  background-color: var(--cyan);
  padding: 1rem 2rem;
  color: var(--white);
  border-radius: 5rem;
  opacity: 1;
  transition: all .3s;
}

.btn:hover {
  opacity: .8;
}




/* INTRO SECTION */

.intro-section {
  background-color: var(--grey);
  padding-bottom: 10rem;
  overflow: hidden;
}

.intro {
  display: flex;
  justify-content: space-between;
}

.intro-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro-text h1 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 6rem;
  color: var(--dark-violet);
}

.intro-text h1 span {
  display: block;
}

.btn-large {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.2rem 3.5rem;
}

.intro-image {
  width: 25%;
}



/* input about and feature sections */


.input-section {
  background-color: var(--dark-gray);
}

.input-box {
  background-color: var(--dark-violet);
  max-width: 100rem;
  margin: 0 auto;
  padding: 5rem;
  background-image: url(./images/bg-shorten-desktop.svg);
  border: 1px solid transparent;
  border-radius: .5rem;
  transform: translateY(-80%);
}

.input-box form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-box form input {
  padding: 1.5rem;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  width: 80%;
  border: transparent;
  border-radius: .5rem;
  margin-right: 2rem;
  outline: none;
}

.input-box form .link-btn {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--white);
  width: 20%;
  background-color: var(--cyan);
  border: transparent;
  border-radius: .5rem;
  outline: none;
  cursor: pointer;
  padding: 1.5rem;
}



 /* about section */

 .about {
  text-align: center;
  width: 50%;
  margin: 0 auto;
 }

 .about h2 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--dark-violet);
 }

 /* feature section */

 .feature {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
 }


 .feature::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    width: 50%;
    height: .5rem;
    background-color: var(--cyan);
    /* z-index: 0; */

  }

 .feature-box {
  position: relative;
  background-color: var(--white);
  padding: 7rem 3rem 3rem 3rem;
  border-radius: .5rem;
  z-index: 1;
 }

 .feature-box:not(:last-child) {
  margin-right: 2.5rem;

 }

.feature-image {
    display: inline-block;
    background-color: var(--dark-violet);
    padding: 1.5rem;
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: -3.5rem;
    left: 2.5rem;
 }

.feature-box h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: var(--dark-violet);
  padding-bottom: 2.5rem;
 }

.box-2 {
  margin-top: 4%;
}

.box-3 {
  margin-top: 8%;
 }

 /* MEDIA QUERIES */

/* TABLET SIZED DEVICE  */
@media screen and (max-width: 2880px) {
  /* intro section */
  .intro-text {
    width: 50%;
  }

  .intro-text h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  /* ABOUT SECTION */
  .about {
    width: 100%;
    padding-bottom: 6rem;
  }

  .about h2 {
    font-size: 3rm;
  }

  .feature-box {
    padding: 7rem 2rem 3rem 2rem;
  }

  .feature-box:not(:last-child) {
    margin-right: 1.5rem;
  }

}


/* MOBILE RESPONSIBLE QUERIES */
@media  screen and (max-width: 600px) {
  header {
    height: 9rem;
  }

  .logo {
    margin: 0;
  }

  .login {
    display: none;
  }

  nav {
    display: block;
    text-align: center;
  }

  .nav-ul {
    justify-content: center;
  }

  .u-login {
    display: inline;
  }

    /* INTRO SECTION */
  
  .intro {
    flex-direction: column-reverse;
  }

  .intro-image {
    padding-bottom: 4rem;
  }

  .intro-text {
    display: block;
    width: 100%;
    text-align: center;
    padding: 4rem 0;
  }

  /* input section */

  .input-box form input {
    width: 70%;
  }

  .input-box form .link-btn {
    width: 30%;
  }

  /* feature section */

  .feature {
    flex-direction: column;
    text-align: center;
  }

  .feature::after {
    left: 50%;
    top: 20%;
    height: 50rem;
    width: .5rem;
  }

  .feature-box {
    margin-bottom: 8rem;
  }

  .feature-box:not(:last-child) {
    margin-right: 0;
  }

  .feature-image {
    left: 50%;
    transform: translate(-50%);
  }

  .box-2
  .box-3 {
    margin-top: 0;
  }

}


