

    <!-- Custom fonts for this template-->
    <link href="./fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    
@* Modal for the Create a Machine *@
@* TODO close dont work *@
<form method="POST" action="/Machine/Create">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title " id="exampleModalLabel">New Machine</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <!-- Machinename input -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-9">
                                 <input type="text" name="Machinename" id="Machinename" class="form-control" />
                                <label class="form-label" for="Machinename">
                                    <div class="en">Machinename</div>
                                    <div class="de">Maschinenname</div>
                                    <div class="sv">Användarnamn</div>
                                </label>

                                <div class="row">
                                    <div class="col-8 col-sm-6">
                                        <input type="text" name="Brand" id="Brand" class="form-control" />
                                        <label class="form-label" for="Brand">
                                            <div class="en">Brand</div>
                                            <div class="de">Typ</div>
                                            <div class="sv">Brand</div>
                                        </label>
                                    </div>
                                    <div class="col-4 col-sm-6">
                                        <input type="text" name="Model" id="Model" class="form-control" />
                                        <label class="form-label" for="Model">
                                            <div class="en">Model</div>
                                            <div class="de">Model</div>
                                            <div class="sv">Model</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>

                <div class="modal-footer">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">
                        <div class="en">Create</div>
                        <div class="de">Erstellen</div>
                        <div class="sv">Create</div>
                    </button>
                    <a id="closemodal" href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <div class="en">Close</div>
                        <div class="de">Schließen</div>
                        <div class="sv">Closa</div>
                    </button>
                </div> 
            </div>
        </div>
    </div>
</form>
    

<!-- Masthead-->
<section class="call-to-action text-white text-center">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-black">
                    <!-- Page heading-->
                    <h1 class="mb-5 en">Overview</h1>
                    <h1 class="mb-5 de">Übersicht</h1>
                    <h1 class="mb-5 sv">maskiner</h1>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="features-icons bg-light text-start">
    <div class="container-fluid">
        @*  here should be the name of the User *@
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Hello Admin</h1>
        </div>
    </div>
    <div class="container-fluid row">
        <div class="card" >
        <!-- Card content -->
        <div class="card-body">
        <!-- Title -->
        <h2 class="card-title"><a><div class="en">Excavator EC950F</div><div class="sv">Maskiner</div><div class="de">Maschinen</div></a></h2>
        <!-- Text -->
        <p class="card-text"> 
            <div class="en">Detailed Statistiks obout the selected Machine.</div>
            <div class="sv">Se alla maskiner i systemet.</div>
            <div class="de">Zeigt alle Maschinen im System an.</div>
        </p>
        </div>
    </div>

    <div class="container-fluid row">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body justify-content-center">
            <!-- Page Heading -->
                <div class="d-sm-flex mb-4 justify-content-center">
                    <h1 class="h1 mb-0 text-gray-800">All Machine Emissions </h1>
                </div>
                <div class="content">
                    <canvas id="myLineChart" ></canvas>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid p-0">
        <div class="row g-0">
        <!-- Card for the Pie Chart for all Activities-->
        <div class="col-lg-6 order-lg-1 " >
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body justify-content-center">
                    <!-- Page Heading -->
                    <div class="d-sm-flex mb-4 justify-content-center ">
                    <h1 class="h1 mb-0 text-gray-800">All Machine Activities </h1>
                    </div>
                    <div class="row">
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="fa-chart-bar pt-4 pb-2">
                                <canvas id="myBarChart"></canvas>
                            </div>
                            <div class="mt-4 text-center small">
                                <span class="mr-2">
                                    <i class="fas fa-circle text-primary"></i> Direct
                                </span>
                                <span class="mr-2">
                                    <i class="fas fa-circle text-success"></i> Social
                                </span>
                                <span class="mr-2">
                                    <i class="fas fa-circle text-info"></i> Referral
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5 order-lg-2 m-0">
            <div class="card text-center " style="width: 18rem;">
                <div class="card-body ">
                    <h1 class="card-title text-black">Machines</h1>
                    <p class="card-text">Click here to select a machine</p>
                    <a type="button" class="btn btn-primary me-2" asp-area="" asp-controller="Machine" asp-action="Index">
                        <div class="en">select machine</div>
                        <div class="de">Registriere  Maschine</div>
                        <div class="sv">Registriere  Maschien</div>
                    </a>
                </div>
            </div>
        </div>
    </div> 
  </div>            
</section>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>