@* that will be the start page from the manager after the login *@
<div class="flexbox-container">
  <div class="flexbox-item flexbox-item-1">
    @*  here should be the name of the User *@
    <h1> Hello, Manager(Peter) </h1> 
  </div>

  <div class="flexbox-item-cardheader">
    <h2 class="h2-white">Average Emission:  200 CO2 per HDM</h2>
  </div>
  @* ******************chart.js******https://www.chartjs.org/docs/latest/ *@
  <div class="flexbox-item flexbox-item-1">
    <div class="flexbox-item-card flexbox-item-2">
      <div class="flexbox-item-4">

      </div>
      <div class="flexbox-item-horizontal">

          

      </div>

    </div>
    <div class="flexbox-item-card flexbox-item-3">
        <div class="flexbox-item">


        </div>

    </div>


  </div>

  <div class="flexbox-item flexbox-item-1">
    <div class="flexbox-item-card flexbox-item-2">
        <div >

        </div>
    </div>
    <div class="flexbox-item-card flexbox-item-3">
        <div >
          
        </div>
    </div>
  </div>
 
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

