

    <!-- Custom fonts for this template-->
    <link href="./fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    
@* Modal for the Create a Machine *@
@* TODO close dont work *@
<form method="POST" action="/Machine/Create">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title " id="exampleModalLabel">New Machine</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <!-- Machinename input -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-9">
                                 <input type="text" name="Machinename" id="Machinename" class="form-control" />
                                <label class="form-label" for="Machinename">
                                    <div class="en">Machinename</div>
                                    <div class="de">Maschinenname</div>
                                    <div class="sv">Användarnamn</div>
                                </label>

                                <div class="row">
                                    <div class="col-8 col-sm-6">
                                        <input type="text" name="Brand" id="Brand" class="form-control" />
                                        <label class="form-label" for="Brand">
                                            <div class="en">Brand</div>
                                            <div class="de">Typ</div>
                                            <div class="sv">Brand</div>
                                        </label>
                                    </div>
                                    <div class="col-4 col-sm-6">
                                        <input type="text" name="Model" id="Model" class="form-control" />
                                        <label class="form-label" for="Model">
                                            <div class="en">Model</div>
                                            <div class="de">Model</div>
                                            <div class="sv">Model</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>

                <div class="modal-footer">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">
                        <div class="en">Create</div>
                        <div class="de">Erstellen</div>
                        <div class="sv">Create</div>
                    </button>
                    <a id="closemodal" href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <div class="en">Close</div>
                        <div class="de">Schließen</div>
                        <div class="sv">Closa</div>
                    </button>
                </div> 
            </div>
        </div>
    </div>
</form>




    
  <!-- Page Wrapper -->
  <div id="wrapper">

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

              <!-- Begin Page Content -->
              <div class="container-fluid">

                  <!-- Page Heading -->
                  <div class="d-sm-flex align-items-center justify-content-between mb-4">
                      <h1 class="h1 mb-0 text-gray-800">Hello Peter</h1>
                  </div>

                  <!-- Content Row -->
                  <div class="row">

                  <!-- Content Row -->

                  <div class="row">

                      <!-- Area Chart -->
                      <div class="col-xl-8 col-lg-7">
                          <div class="card shadow mb-4">
                              <!-- Card Header - Dropdown -->
                              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                  <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                  <div class="dropdown no-arrow">
                                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                      </a>
                                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                          aria-labelledby="dropdownMenuLink">
                                          <div class="dropdown-header">Dropdown Header:</div>
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                      </div>
                                  </div>
                              </div>
                              <!-- Card Body -->
                              <div class="card-body">
                                  <div class="fa-chart-line">
                                      <canvas id="myLineChart" class="chart-line" aria-hidden="true"></i>"></canvas>
                                  </div>
                              </div>
                          </div>
                      </div>

                    
                    
                @* <section class="text-center bg-light"> *@
                    @* <div class="container align-content-end"> *@
                        <div class="col-xl-2 col-lg-4 align-self-center ">
                        <!-- Earnings (Monthly) Card Example -->
                            <div class="card text-center" style="width: 18rem;">
                                <div class="card-body">
                                    <h1 class="card-title">Special title treatment</h1>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a asp-area="" asp-controller="Machine" asp-action="" asp-route-id="1" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>

 @* want to order the cards in two rows *@
    @* This card will lead to the Visualisation/Charts/Diagramms *@
    @* <form style="float: left;" id="machine" method="GET" action="/Machine">
      <!-- Card -->
      <div class="card" onclick="document.getElementById('machine').submit()">
        <!-- Card image -->
           <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title"><a><div class="en">Machines</div><div class="sv">Maskiner</div><div class="de">Maschinen</div></a></h4>
          <!-- Text -->
          <p class="card-text">
            <div class="en">View all of the machines in the system.</div>
            <div class="sv">Se alla maskiner i systemet.</div>
            <div class="de">Zeigt alle Maschinen im System an.</div>
          </p>

        </div>
      </div>
      <!-- Card -->
    </form> *@


                    @* </div> *@
                @* </section> *@
                        @* <button class="btn-large">
                            <div class="col-xl-6 col-md-7 mb-6">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-6 mb-xxl-5">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Earnings (Monthly)</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </button> *@

                    </div> 

                  <!-- Content Row -->
                  <div class="row">

                      <!-- Content Column -->
                      <div class="col-lg-6 mb-4">

                          <!-- Project Card Example -->
                          <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
                              </div>


                                @* <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                  <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6> *@
                                  <div class="dropdown no-arrow">
                                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                      </a>
                                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                          aria-labelledby="dropdownMenuLink">
                                          <div class="dropdown-header">Dropdown Header:</div>
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                      </div>
                                  </div>
                              @* </div> *@
                              <!-- Card Body -->
                              <div class="card-body">
                                  <div class="fa-chart-bar pt-4 pb-2">
                                      <canvas id="myBarChart"></canvas>
                                  </div>
                                  <div class="mt-4 text-center small">
                                      <span class="mr-2">
                                          <i class="fas fa-circle text-primary"></i> Direct
                                      </span>
                                      <span class="mr-2">
                                          <i class="fas fa-circle text-success"></i> Social
                                      </span>
                                      <span class="mr-2">
                                          <i class="fas fa-circle text-info"></i> Referral
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="col-lg-6 mb-4">

                          <!-- Pie Chart -->
                      @* <div class="col-xl-4 col-lg-5"> *@
                          <div class="card shadow mb-4">
                              <!-- Card Header - Dropdown -->
                              <div
                                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                  <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                                  <div class="dropdown no-arrow">
                                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                      </a>
                                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                          aria-labelledby="dropdownMenuLink">
                                          <div class="dropdown-header">Dropdown Header:</div>
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                      </div>
                                  </div>
                              </div>
                              <!-- Card Body -->
                              <div class="card-body">
                                  <div class="chart-pie pt-4 pb-2">
                                      <canvas id="myPieChart"></canvas>
                                  </div>
                                  <div class="mt-4 text-center small">
                                      <span class="mr-2">
                                          <i class="fas fa-circle text-primary"></i> Direct
                                      </span>
                                      <span class="mr-2">
                                          <i class="fas fa-circle text-success"></i> Social
                                      </span>
                                      <span class="mr-2">
                                          <i class="fas fa-circle text-info"></i> Referral
                                      </span>
                                  </div>
                              </div>
                          </div>

                          <!-- Approach -->
                          @* <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                              </div>
                              <div class="card-body">
                                  <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
                                      CSS bloat and poor page performance. Custom CSS classes are used to create
                                      custom components and custom utility classes.</p>
                                  <p class="mb-0">Before working with this theme, you should become familiar with the
                                      Bootstrap framework, especially the utility classes.</p>
                              </div>
                          </div> *@

                      </div>
                  </div>

              </div>
              <!-- /.container-fluid -->

          </div>
          <!-- End of Main Content -->

          <!-- Footer -->
          <footer class="sticky-footer bg-white">
              <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                      <span>Copyright &copy; Your Website 2021</span>
                  </div>
              </div>
          </footer>
          <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
              <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                  <a class="btn btn-primary" href="login.html">Logout</a>
              </div>
          </div>
      </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>