@{
    ViewData["Title"] = "Startpage";
}
<div class="overall">
  <div class="center">
    <h1>@ViewData["Title"]</h1>
  </div>

  @* beginn of the Header *@
  <div class="container">
    <div class="container">
      <div class="container">
        <div class="left-wrapper">
          <div class="one">ExampleCompany</div>
          <div class="two">Co2 Savings</div>
          <div class="three">Activities</div>
          <div class="four">Machines</div>
        </div>
        <div class=right-wrapper>
          <div class="five">languageIcon and ProfileIcon </div>
        </div>
      </div>
    </div>
  </div>


  @*begin of the Body*@
  <div class="card_with_left_discription">
    @* this is the card on the left side  *@
    <div class="card" >
      <div class="card-main">
        <i class="card-title">The Company</i>
        <div class="main-description"> 
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
          et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
          Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
          accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
          no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
      </div>
    </div>

    @* this is the description on the right side *@
    <div class="discription">
      <div >
        <div class="main-description">discription about company</div>
      </div>
    </div>

  </div>



  @* <div class=".container-vertical">
    <div class="left-wrapper">
        <div class="card">
          <div class="card-main">
            <i class="card-title">The Company</i>
            <div class="main-description">discription about company</div>
          </div>
        </div>
        <div class="right-wrapper">
          <div class="card">
            <div class="main-description">discription about company</div>
          </div>
        </div>
    </div>
  </div> *@

  @* <div class="card">
    <div class="card-main">
      <i class="card-title">device</i>
      <div class="main-description">description about Sensordevice</div>
    </div>
  </div> *@


  @* TODO Will be implementet soon *@

    @*<div class="div-14">
      <div class="div-15">
        <div class="builder-columns div-16">
          <div class="builder-column column-8">
            <div class="div-17">
              <div class="builder-columns div-18">
                <div class="builder-column column-9">
                  <div class="div-19">Machines</div>
                </div>
              </div>
            </div>
          </div>
          <div class="builder-column column-10">
            <div class="lorem-ipsum-dolor-sit-amet-co">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
              et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
              sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
              accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
              no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
          </div>
        </div>
      </div>
      <div class="div-20">
        <div class="builder-columns div-21">
          <div class="builder-column column-11">
            <div class="lorem-ipsum-dolor-sit-amet-co">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
              et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
              sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
              accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
              no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
          </div>
          <div class="builder-column column-12">
            <div class="div-22">
              <div class="builder-columns div-23">
                <div class="builder-column column-13">
                  <div class="div-24">Machines</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-25">
      <div class="div-26">
        <div class="builder-columns div-27">
          <div class="builder-column column-14">
            <div class="div-28">
              <div class="builder-columns div-29">
                <div class="builder-column column-15">
                  <div class="div-30">Machines</div>
                </div>
              </div>
            </div>
          </div>
          <div class="builder-column column-16">
            <div class="lorem-ipsum-dolor-sit-amet-co">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
              et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
              sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
              accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
              no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
          </div>
        </div>
      </div>
      <div class="div-31">
        <div class="builder-columns div-32">
          <div class="builder-column column-17">
            <div class="lorem-ipsum-dolor-sit-amet-co">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
              et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
              sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
              accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
              no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
          </div>
          <div class="builder-column column-18">
            <div class="div-33">
              <div class="builder-columns div-34">
                <div class="builder-column column-19">
                  <div class="div-35">Machines</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> *@

  </div>
</div>
