

@* ***********body***************** *@
<div class="container flexbox-container">
  <div class="flexbox-item flexbox-item-1">
    @*  here should be the name of the User *@
    <h1> Hello, Manager(Peter) </h1> 
  </div>
  @* ******************chart.js******https://www.chartjs.org/docs/latest/ *@
  <div class="flexbox-item flexbox-item-2">
    <canvas id="myLineChart" ></canvas>
  </div>
  <div class="flexbox-item flexbox-item-3">
    <canvas id="myDoughnutChart" ></canvas>
  </div>
  <div class="flexbox-item flexbox-item-3">
    <canvas id="myAreaChart" ></canvas>
  </div>
  <div class="flexbox-item flexbox-item-3">
    <canvas id="mySteppedLineChart" ></canvas>
  </div>

  <div class="flexbox-item flexbox-item-3">
    <!-- Section: Timeline -->
    <h2 class="fw-bold">Excavator 1</h2>
    <section class="py-5">
      <h2 class="fw-bold">Timeline</h2>
      <h5 >14.09.2022 (Tim Mueller)</h5>
      <ul class="timeline-with-icons">
        <li class="timeline-item mb-5">
          <span class="timeline-icon">
            <i class="fas fa-rocket text-primary fa-sm fa-fw"></i>
          </span>

          <h5 class="fw-bold">Ideling</h5>
          <p class="text-muted mb-2 fw-bold">07:30</p>
        </li>

        <li class="timeline-item mb-5">
          <span class="timeline-icon">
            <i class="fas fa-hand-holding-usd text-primary fa-sm fa-fw"></i>
          </span>
          <h5 class="fw-bold">Moving</h5>
          <p class="text-muted mb-2 fw-bold">08:30</p>
        </li>

        <li class="timeline-item mb-5">

          <span class="timeline-icon">
            <i class="fas fa-users text-primary fa-sm fa-fw"></i>
          </span>
          <h5 class="fw-bold">Digging</h5>
          <p class="text-muted mb-2 fw-bold">11:30</p>
        </li>

        <li class="timeline-item mb-5">
          <span class="timeline-icon">
            <i class="fas fa-money-bill-wave text-primary fa-sm fa-fw"></i>
          </span>
          <h5 class="fw-bold">shutdown</h5>
          <p class="text-muted mb-2 fw-bold">13:00</p>
        </li>

         <li class="timeline-item mb-5">
          <span class="timeline-icon">
            <i class="fas fa-money-bill-wave text-primary fa-sm fa-fw"></i>
          </span>
          <h5 class="fw-bold">digging</h5>
          <p class="text-muted mb-2 fw-bold">15:00</p>
        </li>
      </ul>
    </section>
    <!-- Section: Timeline -->

  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

