/* ********************* structure styles for the ManagerChartView ************** */
.flexbox-container { 
    width: 100%;
}

.flexbox-item {
    /* margin: 50px; */
    /* padding: 10px; */
    margin-top: 20px; 
}

.flexbox-item-1{
    min-height: 100px;
    flex-shrink: 1;
}

.flexbox-item-2{
    min-height: 100px;
    flex-grow: 1;
    margin-top: 50px;
}

.flexbox-item-3{
    display: flex;
    min-height: 100px;
    flex-grow: 1;
}

.flexbox-item-4{
  flex-shrink: 0;
  min-height: 100px;
  order: 1;
  margin-right: 10px;
}

.flexbox-item-5{
  min-height: 100px;
  order: 2;
  margin-left: 10px;
}

.flexbox-item-6{
  min-height: 100px;
  width: 100%;
  order: 0;
  align-items: center;
  background: #F3F6F9;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px #9d9c9c;
  /* margin: 20px; */
}

.doughnutChart{
  align-items: center;
  /* margin: 10px; */
  /* padding: 10px; */
}

h3{
  text-align: center;
}


/* ****************** style for Maschinename and card title ******************** */
.flexbox-item-cardheader{
  min-height: 100px;
  align-items: center;
  width: 100%;
  background: #4C6A73;
  border-radius: 10px;
}

.h2-white{
  font-weight: 900;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
}

  /* **********card styles ************** */

  .flexbox-item-card{
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    min-height: 100px;
    align-items: center;
    width: 50%;
    background: #F3F6F9;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px #9d9c9c;
    order: 1;
  }

.content {
  align-items: center;
  margin: 0 auto;
  padding: 30px;
  font-family: 'Merriweather', serif;
}
