@* ***********body***************** *@
<div class="flexbox-container">
  <div class="flexbox-item flexbox-item-1">
    @*  here should be the name of the User *@
    <h1> Hello, Manager(Peter) </h1> 
  </div>

  <div class="flexbox-item-6">
    <h2 class="h2-white">Excavator EC950F</h2>
  </div>
  @* ******************chart.js******https://www.chartjs.org/docs/latest/ *@
  <div class="flexbox-item flexbox-item-2">
    <canvas id="myAreaChart" ></canvas>
  </div>
  <div class="flexbox-item flexbox-item-3">
    <div class="flexbox-item-card flexbox-item-4">
        <div class="flexbox-item-6">
          <h2 class="h2-white">Activity</h2>
          <h4 class="h2-white">subtitle</h4>
        </div>
        <div class="content">
            <canvas id="myDoughnutChart" class="doughnutChart" ></canvas>
        </div>
    </div>

    <div class="flexbox-item-card flexbox-item-5">
      @* ******************bootstrap******https://mdbootstrap.com/docs/standard/extended/timeline/ *@
      <div class="flexbox-item-6">
          <h2 class="h2-white">Timeline</h2>
          <h4 class="h2-white">hier kommt doch was anderes hin</h4>
      </div>
      <div class="content">
        <!-- Section: Timeline -->
        <section class="py-5">
          <ul class="timeline-with-icons">
            <li class="timeline-item mb-5">
              <span class="timeline-icon">
                <i class="fas fa-rocket text-primary fa-sm fa-fw"></i>
              </span>

              <h5 class="fw-bold">Ideling</h5>
              <p class="text-muted mb-2 fw-bold">07:30</p>
            </li>

            <li class="timeline-item mb-5">
              <span class="timeline-icon">
                <i class="fas fa-hand-holding-usd text-primary fa-sm fa-fw"></i>
              </span>
              <h5 class="fw-bold">Moving</h5>
              <p class="text-muted mb-2 fw-bold">08:30</p>
            </li>

            <li class="timeline-item mb-5">

              <span class="timeline-icon">
                <i class="fas fa-users text-primary fa-sm fa-fw"></i>
              </span>
              <h5 class="fw-bold">Digging</h5>
              <p class="text-muted mb-2 fw-bold">11:30</p>
            </li>

            <li class="timeline-item mb-5">
              <span class="timeline-icon">
                <i class="fas fa-money-bill-wave text-primary fa-sm fa-fw"></i>
              </span>
              <h5 class="fw-bold">shutdown</h5>
              <p class="text-muted mb-2 fw-bold">13:00</p>
            </li>

            <li class="timeline-item mb-5">
              <span class="timeline-icon">
                <i class="fas fa-money-bill-wave text-primary fa-sm fa-fw"></i>
              </span>
              <h5 class="fw-bold">digging</h5>
              <p class="text-muted mb-2 fw-bold">15:00</p>
            </li>
          </ul>
        </section>
        <!-- Section: Timeline -->
      </div>
    </div>
  </div>


  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>