@* ***********body***************** *@

<!-- Masthead-->
<section class="call-to-action text-white text-center">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5 en">activity tracker for heavy duty machines</h1>
                    <h1 class="mb-5 de">Activity Tracker für heavy duty Maschinen</h1>
                    <h1 class="mb-5 sv">aktivitetsmätare för tunga maskiner</h1>
                </div>
            </div>
             <div class="col-xl-2 col-lg-4 align-self-end ">
                        <!-- Earnings (Monthly) Card Example -->
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h1 class="card-title text-black">Create a new Machine</h1>
                        <p class="card-text">Click here to register a new Machien</p>
                        <a type="button" class="btn btn-primary me-2"   asp-area="" asp-controller="Installation" asp-action="Show">
                            <div class="en">Register Machine</div>
                            <div class="de">Registriere  Maschine</div>
                            <div class="sv">Registriere  Maschien</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<div class="flexbox-container">
  <div class="flexbox-item flexbox-item-1">
    @*  here should be the name of the User *@
    <h1> Hello, Manager(Peter) </h1> 
  </div>

  <div class="flexbox-item-cardheader">
    <h2 class="h2-white">Excavator EC950F</h2>
  </div>
  @* ******************chart.js******https://www.chartjs.org/docs/latest/ *@
  <div class="flexbox-item flexbox-item-2">
    <div class="flexbox-item-6">
        <div class="flexbox-item-cardheader">
          <h2 class="h2-white">Emissions</h2>
          <h4 class="h2-white">subtitle</h4>
        </div>
        <div class="content">
          <canvas id="myLineChart" ></canvas>
        </div>
    </div>

      @* <div class="container align-content-end"> *@
          <div class="col-xl-2 col-lg-4 align-self-center ">
          <!-- Earnings (Monthly) Card Example -->
              <div class="card text-center" style="width: 18rem;">
                  <div class="card-body">
                      <h1 class="card-title">Special title treatment</h1>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a asp-area="" asp-controller="Installation" asp-action="Show" asp-route-id="1" class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
          </div>
  </div>
  <div class="flexbox-item flexbox-item-3">
    <div class="flexbox-item-card flexbox-item-4">
        <div class="flexbox-item-cardheader">
          <h2 class="h2-white">Activity</h2>
          <h4 class="h2-white">subtitle</h4>
        </div>
        <div class="content">
            <canvas id="myDoughnutChart" class="doughnutChart" ></canvas>
        </div>
    </div>

    <div class="flexbox-item-card flexbox-item-5">
      @* ******************bootstrap******https://mdbootstrap.com/docs/standard/extended/timeline/ *@
      <div class="flexbox-item-cardheader">
          <h2 class="h2-white">status</h2>
          <h4 class="h2-white">Maschine status chart</h4>
      </div>
      <div class="content">
        <!-- Maschine status chart -->

        <!-- Maschine status chart -->
      </div>
    </div>
  </div>

  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>