@model IEnumerable<UIAutomate.Models.SUSTest>
@* @model UIAutomate.Models.SUSTest@ *@
@{
    ViewData["Title"] = "System Usballity Scale (SUS)";
}
<h1>@ViewData["Title"]</h1>

<p>Please rate on the following scale to what extent you agree with the statements.</p>


@* <form method="post"> *@
@using (Html.BeginForm("Create", "SUSTest", FormMethod.Post))
    {
    <table>
        <tr>
            <tr>
                <th></th> 
                <th> <div id="valid1">Strongly disagree</div> </th> 
                <th> <div id="valid2">Disagree</div> </th> 
                <th> <div id="valid3">Neutral</div></th>
                <th> <div id="valid4">Agree</div></th>
                <th> <div id="valid5">Strongly agree</div> </th>
            </tr>   
            @foreach (var sustest in Model){
                @* @using (Html.BeginForm())
                { *@
                    <tr>
                        <th id= question>@sustest.Question</th>
                        <div class= "checkbox">
                            <th><input type="checkbox" id="cb11" name="cb11" value=sd> </th>
                            <th><input type="checkbox" id="cb12" name="cb12" value="true"> </th> 
                            <th><input type="checkbox" id="cb13" name="cb13" value="true"></th> 
                            <th><input type="checkbox" id="cb14" name="cb14" value="true" data-val="true" ></th>
                            <th><input type="checkbox" id="cb15" name="cb15" value="true"></th>
                        </div>
                    </tr>
                @* } *@
            }
        </tr>
    </table>
        @* <input type="text" id="txtName" name="name"/> *@
    <input type="submit" id="btnSubmit" value="Get Current Time" />
    <input type="submit" value="Create" class="btn btn-default" />  
}
@* </form> *@

 @* <input type="button" id="btnUpdate" value="Update"/>

<button id="btnSubmit" runat="server" onserverclick="onClick">Hello</button> *@


      @* @using (Html.BeginForm("Formular", "SUSTest", FormMethod.Post))
    {
        <input type="text" id="txtName" name="name"/>
        <input type="submit" id="btnSubmit" value="Get Current Time"/>
    } *@
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }

<input type="button" value="Create" onclick="location.href='@Url.Action("Create", "SUSTest")'" />
